.main {
  background-color: #ddd;
  border-radius: 5px;
}

ul li:hover {
  background-color: #eee;
  cursor: pointer;
}

input {
  width: 28rem;
}

hr {margin: 0}

li button{font-size: 1.5rem}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
}